# Prototype of connecting with Svelte API

In [91]:
import requests 
  
# api-endpoint 
url_subject = "https://0ujrqdyqc6.execute-api.ap-southeast-2.amazonaws.com/test/subjresource"
#url_moji = "https://0ujrqdyqc6.execute-api.ap-southeast-2.amazonaws.com/test/mojiresource"
# defining a params dict for the parameters to be sent to the API 
param_subject = '{"msg": "Hes human trash, said Stella Wong, 57, a school as government she gleefully tromped on Mr. Hos nose one recent economics afternoon."}'
#param_moji = '{"id": "2", "text" : "I think playing basketball would waste my life", "userId": "123" , "timestamp" : "2019/10/30", "applications" : "fb"}' 
# sending get request and saving the response as response object 
subject = requests.post(url_subject, param_subject) 
#moji = requests.post(url_moji, param_moji) 
# extracting data in json format 
print(subject.text)
#print(moji.text)

{"body": {"empath_result": [{"politics": {"law": 1.0, "leader": 1.0, "government": 1.0}}, {"finance": {"economics": 1.0}}, {"sports": {"sports": 1.0}}], "subject_clf": "politics"}}

In [106]:
import json
url_moji = "https://0ujrqdyqc6.execute-api.ap-southeast-2.amazonaws.com/test/mojiresource"
param_moji = '{"id": "1", "text" : "The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.", "userId": "123" , "timestamp" : "2019/10/30", "applications" : "fb"}' 
moji = requests.post(url_moji, param_moji) 
data = moji.json()['stdout']
parsedData = json.loads(data)
parsedData

[{'sentenceId': 0.0,
  'Emotion_label': 'Anger',
  'Intensity': 0.2281054282,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit.'},
 {'sentenceId': 0.0,
  'Emotion_label': 'Joy',
  'Intensity': 0.0465783699,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit.'},
 {'sentenceId': 0.0,
  'Emotion_label': 'Sadness',
  'Intensity': 0.162258154,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit.'},
 {'sentenceId': 0.0,
  'Emotion_label': 'Fear',
  'Intensity': 0.1798456106,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit.'},
 {'sentenceId': 0.0,
  'Emotion_label': 'Disgust',
  'Intensity': 0.1618968941,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit.'},
 {'sentenceId': 1.0,
  'Emotion_label': 'Anger',
  'Intensity': 0.1035404233,
  'text': 'It is a very public gesture of disdain.'},
 {'sentenceId': 1.0,
  'Emotion_label': 'Joy',
  'Intensity': 0.0932823908,
  'text': 'It is a very public gesture of disdain.'},
 {'sentenceId': 1.0,
  'Emotion_label': 'Sadness',
  'Intensity': 0.0677535234,
  'text': 'It is a very public gesture of disdain.'},
 {'sentenceId': 1.0,
  'Emotion_label': 'Fear',
  'Intensity': 0.0912579466,
  'text': 'It is a very public gesture of disdain.'},
 {'sentenceId': 1.0,
  'Emotion_label': 'Disgust',
  'Intensity': 0.0847584072,
  'text': 'It is a very public gesture of disdain.'},
 {'sentenceId': 0.5,
  'Emotion_label': 'Anger',
  'Intensity': 0.1658229257,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.'},
 {'sentenceId': 0.5,
  'Emotion_label': 'Disgust',
  'Intensity': 0.1233276506,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.'},
 {'sentenceId': 0.5,
  'Emotion_label': 'Fear',
  'Intensity': 0.1355517786,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.'},
 {'sentenceId': 0.5,
  'Emotion_label': 'Joy',
  'Intensity': 0.0699303803,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.'},
 {'sentenceId': 0.5,
  'Emotion_label': 'Sadness',
  'Intensity': 0.1150058387,
  'text': 'The faces a local domestic legislator, and this is not an election campaign gambit. It is a very public gesture of disdain.'}]

In [107]:
import pandas as pd
label_pair = []
subject_dataframe = pd.DataFrame()
label_list = []
intensity_list = []
length = int(len(parsedData))
for i in range(length-5,length):
    label = label_list.append(parsedData[i]['Emotion_label'])
    intensity = intensity_list.append(parsedData[i]['Intensity'])
subject_dataframe['label'] = label_list
subject_dataframe['intensity'] = intensity_list
subject_dataframe

     label  intensity
0    Anger   0.165823
1  Disgust   0.123328
2     Fear   0.135552
3      Joy   0.069930
4  Sadness   0.115006

In [108]:
score = 0
for i in range(len(subject_dataframe)):
    score += subject_dataframe['intensity'][i]
score

0.6096385739

In [122]:
label = "Anger"
highest_score = subject_dataframe['intensity'][0]
for i in range(len(subject_dataframe)):
    if(subject_dataframe['intensity'][i] > highest_score):
        label = subject_dataframe['label'][i]
        highest_score = subject_dataframe['intensity'][i]
label_pair.append(label)
label_pair.append(highest_score)
label_pair

['Anger', 0.1658229257]

In [ ]:
dataset = pd.DataFrame()

In [114]:
import requests 
import json
# api-endpoint 
url_subject = "https://0ujrqdyqc6.execute-api.ap-southeast-2.amazonaws.com/test/subjresource"
# defining a params dict for the parameters to be sent to the API 
param_subject = '{"msg": "Hes human trash, said Stella Wong, 57, a school as government she gleefully tromped on Mr. Hos nose one recent economics afternoon."}'
# sending get request and saving the response as response object 
subject = requests.post(url_subject, param_subject) 
# extracting data in json format 
subject_info =subject.json()
subject_info['']

{'body': {'empath_result': [{'politics': {'law': 1.0,
     'leader': 1.0,
     'government': 1.0}},
   {'finance': {'economics': 1.0}},
   {'sports': {'sports': 1.0}}],
  'subject_clf': 'politics'}}

In [121]:
subject_info['body']['empath_result'][0].keys()

dict_keys(['politics'])

In [13]:
import pandas as pd
dataset = pd.read_csv('output.csv')

In [14]:
dataset

,Unnamed: 0,Anger,Joy,Sad,Fear,Disgust,subject_clf,empath
0,0,0.317985,0.028469,0.162215,0.156981,0.206846,NaN,
1,1,0.069211,0.124217,0.028199,0.044901,0.055838,NaN,
2,2,0.074521,0.138186,0.049807,0.071541,0.071290,NaN,
3,3,0.056425,0.158643,0.048001,0.060747,0.057695,NaN,
4,4,0.306249,0.057338,0.136928,0.151763,0.214514,NaN,"['food', 'restaurant', 'politics', 'leader']"
5,5,0.092535,0.061108,0.153184,0.119649,0.074477,sports,
6,6,0.186866,0.079069,0.097003,0.111364,0.129995,sports,"['travel', 'vacation', 'sports', 'sports', 'en..."
7,7,0.085284,0.089904,0.074112,0.107339,0.070392,NaN,
8,8,0.148365,0.082757,0.065299,0.104388,0.113306,sports,
9,9,0.124103,0.133687,0.072836,0.083320,0.098938,NaN,"['scitech', 'phone']"
10,10,0.100777,0.133517,0.037677,0.063783,0.059956,sports,"['health', 'exercise']"
11,11,0.071676,0.189493,0.025363,0.045759,0.060271,sports,
12,12,0.139163,0.065956,0.073434,0.071437,0.092931,NaN,
13,13,0.074354,0.163373,0.058959,0.048426,0.059880,NaN,
14,14,0.220715,0.088589,0.134024,0.119991,0.148528,NaN,
15,15,0.070912,0.108996,0.043232,0.071888,0.062193,NaN,
16,16,0.029004,0.135425,0.012885,0.029344,0.039042,scitech,"['entertainment', 'music']"
17,17,0.064638,0.167993,0.036759,0.049682,0.071688,NaN,"['scitech', 'phone', 'finance', 'business']"
18,18,0.110105,0.075992,0.070504,0.103264,0.087226,videogames,
19,19,0.089438,0.105568,0.056951,0.086807,0.079563,NaN,

In [15]:
def obtain_str(a):
    data = ast.literal_eval(a)
    return data[0]

In [16]:
import numpy as np
import math
import ast
for i in range(len(dataset)):
    if(isinstance(dataset['subject_clf'][i],str) == False):
        if(dataset['empath'][i] != ' '):
            rep_subject = obtain_str(dataset['empath'][i])
            dataset['subject_clf'][i] = rep_subject
        else:
            dataset.drop(i,inplace = True)
dataset.drop(['empath'],axis = 1,inplace = True)
dataset.reset_index(inplace = True)

C:\Users\Ray\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
dataset

,index,Unnamed: 0,Anger,Joy,Sad,Fear,Disgust,subject_clf
0,4,4,0.306249,0.057338,0.136928,0.151763,0.214514,food
1,5,5,0.092535,0.061108,0.153184,0.119649,0.074477,sports
2,6,6,0.186866,0.079069,0.097003,0.111364,0.129995,sports
3,8,8,0.148365,0.082757,0.065299,0.104388,0.113306,sports
4,9,9,0.124103,0.133687,0.072836,0.083320,0.098938,scitech
5,10,10,0.100777,0.133517,0.037677,0.063783,0.059956,sports
6,11,11,0.071676,0.189493,0.025363,0.045759,0.060271,sports
7,16,16,0.029004,0.135425,0.012885,0.029344,0.039042,scitech
8,17,17,0.064638,0.167993,0.036759,0.049682,0.071688,scitech
9,18,18,0.110105,0.075992,0.070504,0.103264,0.087226,videogames

statistic analysis

In [43]:
diff = pd.read_csv('diff.csv')
diff

   Unnamed: 0 subject_clf      diff
0           0        food  0.091735
1           1      sports  0.078707
2           2      sports  0.056871
3           3      sports  0.035059
4           4     scitech  0.034750
5           5      sports  0.073561
6           6      sports  0.129222
7           7     scitech  0.096383
8           8     scitech  0.096305
9           9  videogames  0.022880

In [44]:
threshold = diff['diff'].mean(0)-1.5*diff['diff'].std(0)

In [46]:
dataset

      Anger       Joy       Sad      Fear   Disgust subject_clf
0  0.306249  0.057338  0.136928  0.151763  0.214514        food
1  0.092535  0.061108  0.153184  0.119649  0.074477      sports
2  0.186866  0.079069  0.097003  0.111364  0.129995      sports
3  0.148365  0.082757  0.065299  0.104388  0.113306      sports
4  0.124103  0.133687  0.072836  0.083320  0.098938     scitech
5  0.100777  0.133517  0.037677  0.063783  0.059956      sports
6  0.071676  0.189493  0.025363  0.045759  0.060271      sports
7  0.029004  0.135425  0.012885  0.029344  0.039042     scitech
8  0.064638  0.167993  0.036759  0.049682  0.071688     scitech
9  0.110105  0.075992  0.070504  0.103264  0.087226  videogames

In [47]:
max_value = dataset.max(axis = 1)

In [49]:
dataset['max_value'] = max_value

In [51]:
final_max_value = dataset.max(axis = 1)
dataset['final_max_value'] = final_max_value

In [52]:
dataset

,Anger,Joy,Sad,Fear,Disgust,subject_clf,max_value,final_max_value
0,0.306249,0.057338,0.136928,0.151763,0.214514,food,0.285418,0.306249
1,0.092535,0.061108,0.153184,0.119649,0.074477,sports,0.132353,0.153184
2,0.186866,0.079069,0.097003,0.111364,0.129995,sports,0.166035,0.186866
3,0.148365,0.082757,0.065299,0.104388,0.113306,sports,0.127533,0.148365
4,0.124103,0.133687,0.072836,0.083320,0.098938,scitech,0.112856,0.133687
5,0.100777,0.133517,0.037677,0.063783,0.059956,sports,0.112686,0.133517
6,0.071676,0.189493,0.025363,0.045759,0.060271,sports,0.168661,0.189493
7,0.029004,0.135425,0.012885,0.029344,0.039042,scitech,0.114594,0.135425
8,0.064638,0.167993,0.036759,0.049682,0.071688,scitech,0.147161,0.167993
9,0.110105,0.075992,0.070504,0.103264,0.087226,videogames,0.089274,0.110105